<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962361896965-327311utpa3n547id7nu6b1jdl2mvq61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962361896965-327311utpa3n547id7nu6b1jdl2mvq61</string>
	<key>API_KEY</key>
	<string>AIzaSyAlotmCt59lrOiJrITJ14OrZsjGt6DYsOs</string>
	<key>GCM_SENDER_ID</key>
	<string>962361896965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team4.teamproject</string>
	<key>PROJECT_ID</key>
	<string>fir-3239f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-3239f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962361896965:ios:74cc15556a92c27936ac6c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-3239f.firebaseio.com</string>
</dict>
</plist>